* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    margin: 40px 20px 20px 20px;
}

.category {
    width: 100%;
    height: 500px;
    background-color: green;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.category:first-child {
    background-color: hsl(31, 77%, 52%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.category:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

.category:last-child {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.category img {
    margin-bottom: 30px;
}

.category h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 40px;
    color: hsl(0, 0%, 95%);
    margin-bottom: 30px;
}

.category p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.learn-more {
    width: 150px;
    height: 50px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-more h6 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.learn-more:hover {
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
}

.learn-more:hover h6 {
    color: white;
}

.text {
    color: hsl(31, 77%, 52%);
}

.text-2 {
    color: hsl(184, 100%, 22%);
}

.text-3 {
    color: hsl(179, 100%, 13%);
}

@media only screen and (min-width: 768px) {

    section {
        padding: 0;
    }

    .container {
        width: 800px;
        justify-content: center;
        flex-direction: row;
    }

    .category {
        height: 450px;
    }

    .category:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .category:last-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }

    .category p {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: 50px;
    }

    
}